{% extends '../page.html' %}
{% block pagecontent %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-12">
            <div class="card shadow p-3">
                <div class="card-heading">
                    <h3 class="mb-4 border-bottom pb-2">Reviews</h3>
                </div>
                <div class="card-body">
                    <p class="text-success text-center">{{message}}</p>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>event</th>
                                    <th>Title</th>
                                    <th>Detail</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                           
                            <tbody>
                                {% for row in table %}
                                <tr>
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <td>{{row.2}}</td>
                                    <td>{{row.3}}</td>
                                </tr>
                                {% endfor  %}
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end of card body -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
